<!--https://v3.bootcss.com/components/#btn-groups-->
<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-6">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default <%=params.key?('topics') ? '':'active' %>" >
            <%=link_to 'Recent Post',root_path %>
          </button>
          <button type="button" class="btn btn-default <%=params.key?('topics') ? 'active':'' %>" id="selected-btn" data-toggle="tab">
            <%=link_to 'Selected Post',root_path %>
          </button>
          <button type="button" class="btn btn-default" >
            <%= link_to 'My Setting', my_setting_path %>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-success">
          <%=link_to 'New Post', new_micropost_path %>
        </button>
      </div>
    </div>

    <ul class="list-group">
      <% @microposts.each do |micropost| %>
        <li class="list-group-item post-item">
          <div class="row">
            <div class="col-sm-2">
              <%=image_tag micropost.user.picture.url if micropost.user.picture?%>
            </div>
            <div class="col-sm-10 post-content">
              <span class="news-title">
                <%=link_to micropost.title, micropost_path(micropost) %>
              </span>
              <div class="bottom-part">
                <div>
                  <span><%= link_to micropost.user.name ,user_path(micropost.user) %></span>
                  <span><%=micropost.created_at.to_s %></span>
                  <span><%=micropost.topic %></span>
                  <span class="pull-right">
                    <span>
                      <i class="fa fa-comment" aria-hidden="true"></i>
                      <%=micropost.comments.count %>
                    </span>
                      <span>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <%= micropost.view_count.to_i %>
                      </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </li>
      <%end %>
    </ul>
  </div>
  <div class="col-lg-4">
<!--    https://v3.bootcss.com/components/#panels-footer-->
    <div class="panel panel-default">
      <div class="panel-title">Recent Members</div>
      <div class="panel-body row">
        <% @users.each do |user| %>
          <div class="col-sm-3 user-item">
            <% if user.picture.present? %>
              <%=image_tag user.picture.url, size:'50x50' %>
            <%else %>
              <%=gravatar_for user%>
            <%end %>
            <%= user.name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-title">Topic</div>
      <div class="panel-body">
        <%@topics.each do |topic| %>
          <span class="topic-item <%= 'active' if params['topics'] && params['topics'].include?(topic)%>">
            <%=topic%>
          </span>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-title">Post</div>
      <div class="panel-body">
        <ul class="list-group">
          <% @top_posts.each do |post| %>
            <li class="top-item list-group-item">
              <div>
                <span><%=post.title%></span>
                <span class="pull-right">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <%= post.view_count.to_i %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-title">Links</div>
      <div class="panel-body">
        <% @links.each do |k,v| %>
          <%= link_to k,v,class:'link-item' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>
  .new-list{
    width: 100%;
  }
    .new-list li{
      width:100%;
      height: 50px;
      border: 1px solid gray;
      list-style: none;
    }

    .list-group{
      margin-top: 30px;
    }
    .list-group-item img{
      height: 50px;
      width:50px;
    }
    .post-item{
      min-height: 100px;
    }
    .bottom-part{
      bottom: 0px;
      position:absolute;
      width:90%;
    }
    .btn:active{
      color: orange;
    }
    .btn.active{
      color:orange;
    }
    .btn-group .btn-default{

    }
    .news-title{
      font-weight:bold;
      font-size:20px;
    }
    .news-title a:hover{
      color:orange !important;
      background-color: transparent;
    }
    .user-item{
      height: 78px;
      vertical-align: text-bottom;
    }
    .panel-title{
      background: #e0e0e0;
      padding-left: 12px;
      border-left: 4px solid orange;
      margin-top: 6px;
      font-weight: bold;
    }
    .post-content{
      height:77px;
    }
    .topic-item{
      padding:5px;
      border-radius: 25px;
      border: 1px solid black;
      margin: 10px;
      line-height: 34px;

    }
    .topic-item.active{
      border: 1px solid orange;
      color: orange;
    }
    .top-item{
      list-style: none;
      min-height: 15px;
    }
    .link-item{
      padding:5px;
      border-radius: 25px;
      border: 1px solid black;
      margin: 10px;
      line-height: 34px;
    }
    .link-item:hover{
      background-color: transparent;
    }
</style>

<script>
  $('.btn-group button').click(function(){
      $(this).addClass('active').siblings().removeClass('active')
  })
  $('.topic-item').click(function(){
      if($(this).hasClass('active')){
          $(this).removeClass('active')
      }else{
          $(this).addClass('active')
      }
      selectedPost();
  })
  $('#selected-btn').click(function(){
      selectedPost();
  });

  function selectedPost(){
      var arr = $('.topic-item.active').map(function(){return $(this).text().trim()}).get();
      var params = $.param({topics: arr});
      window.location.href='<%=root_url %>'+'?'+params;
  }
</script>